<GMap
  @lat={{this.london.lat}}
  @lng={{this.london.lng}}
  @zoom={{12}}
  @styles={{this.myMapStyle}}
  @scrollwheel={{false}}
  @gestureHandling="greedy"
  @disableDefaultUI={{true}}
  @zoomControl={{true}}
  @zoomControlOptions={{hash
    position=google.maps.ControlPosition.TOP_LEFT}}
  @fullscreenControl={{true}}
  @onLoad={{action "saveBounds"}}
  @onBoundsChanged={{action "saveBounds"}}
  class="ember-google-map-cover" as |g|>

  {{#each this.boundedLondonLocations as |location|}}
    <g.overlay
      @lat={{location.lat}}
      @lng={{location.lng}}
      @onClick={{action "scrollToListing" l}}
      @onMouseover={{action (mut location.active) true}}
      @onMouseleave={{action (mut location.active) false}}>

      <div class="tooltip {{if location.active "active"}}">
        £{{location.price}}
      </div>

    </g.overlay>
  {{/each}}

</GMap>