<div class="row">
  <div class="col-lg-7 order-2 order-lg-1">
    <section>
      <h5 id="markers">Creating advanced markers</h5>

      <p>
        The <GoogleDocs @section="advanced-markers">Advanced Marker</GoogleDocs> is Google Maps' successor to the <GoogleDocs @section="marker">Marker</GoogleDocs>.
        To use the advanced markers, the map must have a <GoogleDocs @type="guide" @section="get-map-id"><var>mapId</var></GoogleDocs>.
        Legacy styling with <var>styles</var> will also be disabled.
      </p>

      <p>You can create an advanced marker with the yielded <var>advancedMarker</var> component. You can use either <var>lat</var> and <var>lng</var>, or <var>position</var>, to set the position.</p>

      <p>Every attribute passed to <var>advancedMarker</var> will be passed on as an option to the advanced marker.</p>

      <DocTip>
        Don’t forget that these are Google Maps events, not Ember events! <LinkTo @route="docs.map">Learn about event handling ›</LinkTo>
      </DocTip>

      <CodeSnippet @name="advanced-markers.hbs" />

      <DocTip @badgeText="Test">
        Click on a marker to find out its coordinates.
      </DocTip>
    </section>

    <p>{{this.nextPage.text}}</p>
    <LinkToNext @nextPage={{this.nextPage}} />
  </div>
  <div class="col-lg-5 order-1 order-lg-2 sticky-top sticky-map">
    <GMap
      @lat={{this.london.lat}}
      @lng={{this.london.lng}}
      @zoom={{12}}
      @mapId={{this.mapId}}
      class="ember-google-map-responsive" as |g|>

      {{#each-in this.locations key="id" as |id location|}}
        <g.advancedMarker
          @lat={{location.lat}}
          @lng={{location.lng}}
          @gmpDraggable={{false}}
          @onClick={{fn this.flashMessage (concat "Clicked: " location.lat ", " location.lng)}} />
      {{/each-in}}
    </GMap>
  </div>
</div>