<div class="container container-body">

  <GMap
    @lat={{this.london.lat}}
    @lng={{this.london.lng}}
    @zoom={{12}}
    class="ember-google-map-full-width ember-google-map-16-9 mt-4"
    @styles={{this.lightStyle}}
    @disableDefaultUI={{true}}
    @zoomControl={{true}}
    @scrollwheel={{false}} as |g|>

    <g.overlay
      @lat={{this.london.lat}}
      @lng={{this.london.lng}}>
      <div class="tooltip bs-tooltip-top anchor-middle-bottom" style="width: 8em; height: 4em;">
        <div class="tooltip-inner text-center">
          <h6 class="m-0">Made for <span class="ember">ember</span></h6>
        </div>
      </div>
    </g.overlay>
  </GMap>
  <div class="pl-1 pr-2">
    <h1 class="mt-3 mb-3 font-weight-bold" style="font-size: 2.2em; letter-spacing: -0.03em;">
      Ember + Google Maps.
      <br>
      <span class="text-muted">A friendly Ember addon for working with Google Maps.</span>
    </h1>
    <LinkTo @route="docs.getting-started" class="btn btn-link pl-0 font-weight-bold">Get started →</LinkTo>
  </div>

  <FooterMain />
</div>