<div id={{this.id}} class="card rental-card {{if @rental.active "active"}}" ...attributes {{on "mouseenter" (fn @onMouseEnter @rental)}} {{on "mouseleave" (fn @onMouseLeave @rental)}}>
  <div class="placeholder-image card-img-top color-type-{{@rental.type}}"></div>
  <div class="card-body">
    <h5 class="card-title mb-0 text-truncate">{{@rental.type}}-star rental in the heart of London.</h5>
    <p class="price mb-0">£{{@rental.price}}</p>
    <p class="card-text text-truncate"></p>
  </div>
</div>
