<GMap
  @lat="51.507568"
  @lng="-0.127762"
  @zoom={{12}}
  @styles={{this.myMapStyle}} as |g|>

  {{!-- A manually positioned info window with basic text --}}
  <g.infoWindow
    @lat={{this.london.lat}}
    @lng={{this.london.lng}}
    @isOpen={{this.mapTooltipOpen}}
    @content="Simple text tooltip" />

  {{!--
    An info window attached to a marker component.
    Notice how it is yielded by the marker itself.
    This info window displays the template defined in the block --}}
  <g.marker
    @lat={{this.london.lat}}
    @lng={{this.london.lng}}
    @onClick={{action (toggle "markerTooltipOpen" this)}} as |m|>

    <m.infoWindow
      @isOpen={{this.markerTooltipOpen}} as |i|>

      <div class="text-center">
        <img src="/images/doge.jpg" alt="Such doge!" width=200>
        <div>Custom <i>HTML</i> content in infoWindow!</div>
      </div>

    </m.infoWindow>
  </g.marker>
</GMap>