<div class="row">
  <div class="col-md-7 order-2 order-md-1">
    <section>
      <h5>Canvas</h5>

      <p>The <tt>canvas</tt> component renders the <tt>div</tt> that contains the map. Usage of the <tt>canvas</tt> is <b>optional</b> and the examples will rarely use it because a canvas is created for you by default. If you do call the canvas component, then the default canvas will not be rendered.</p>

      <p>You can use the <tt>canvas</tt> to add extra classes or control the order of components within the map context. For example, if you are rendering an <tt>autocomplete</tt> input, you might want it to appear above the map canvas. Calling the <tt>canvas</tt> explicitly after that input ensures the correct ordering without having to resort to styling hacks.</p>

      <CodeSnippet @name="basic-canvas.hbs" />
    </section>

    {{link-to-next this.nextPage}}
  </div>
  <div class="col-md-5 order-1 order-md-2">
    <GMap
      @lat={{this.london.lat}}
      @lng={{this.london.lng}}
      @zoom={{12}}
      @styles={{this.primaryMapStyle}} as |g|>

      <input type="text" placeholder="I need to be above the map!" class="form-control input-lg mb-3">

      <g.canvas class="ember-google-map-responsive" />

      <g.marker @lat={{this.london.lat}} @lng={{this.london.lng}} />

      <input type="text" placeholder="I need to be below the map!" class="form-control input-lg mt-3">

    </GMap>
  </div>
</div>
