<GMap id="main-map" @lat={{this.london.lat}} @lng={{this.london.lng}} as |map|>
  <map.marker
    @id="main-marker"
    @lat={{this.london.lat}}
    @lng={{this.london.lng}}
    @onClick={{fn this.toggle "markerTooltipOpen" this}} as |marker|>

    <marker.infoWindow
      @isOpen={{this.markerTooltipOpen}}
      @onCloseclick={{fn (mut this.markerTooltipOpen) false}}>
      <span data-test-info-window>You clicked me!</span>
    </marker.infoWindow>

  </map.marker>
</GMap>