<div class="container container-body mt-5">
  <div class="mb-2" style="padding: 2em 0;">
    <div class="row">
      <div class="col-12">
        <h1 style="font-size: 2em; font-weight: 700; letter-spacing: -0.02em;">Ember + Google Maps.<br>
        <span class="text-muted">A friendly Ember addon for working with Google Maps.</span></h1>
        <LinkTo @route="docs.about" class="btn btn-primary">Get started ›</LinkTo>
      </div>
    </div>
  </div>

  <main>
    <GMap
      @lat={{this.london.lat}}
      @lng={{this.london.lng}}
      @zoom={{12}}
      class="ember-google-map-full-width ember-google-map-2-3"
      @styles={{this.lightStyle}}
      @disableDefaultUI={{true}}
      @zoomControl={{true}}
      @scrollwheel={{false}} as |g|>

      <g.overlay
        @lat={{this.london.lat}}
        @lng={{this.london.lng}}>
        <div class="tooltip bs-tooltip-top anchor-middle-bottom" style="width: 120px; height: 4em;">
          <div class="tooltip-inner text-center">
            <h6 class="m-0">Made for <span class="ember">ember</span></h6>
          </div>
        </div>
      </g.overlay>

    </GMap>
  </main>

  <FooterMain />
</div>